@model IEnumerable<MovieTickets.Models.Reservation>

@{
    ViewBag.Title = "My Reservations";
}

@if (!Model.Any())
{
    <div class="page-wrap d-flex mt-5 flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <img src="~/Images/empty_state.png" class="img-fluid" alt="Empty State Image">
                    <h1 class="display-4 text-uppercase text-white mt-4" style="font-family: 'Helvetica Bold'; text-align: center">You have no reservations!</h1>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <section class="hero text-white py-4 flex-grow-1">

        <div class="container" py-4">

            <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">User Management</h1>
            <hr class="style1 mb-5">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <table class="table table-striped rounded-4 table-bordered table-dark table-responsive" id="TableUsers" style="border-radius: 5px">
                    <tr>
                        <th>
                            Movie
                        </th>
                        <th>
                            Auditorium
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screening.ScreeningStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screening.ScreeningEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reserved)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Paid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Active)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screening.Movie)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screening.Auditorium.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screening.ScreeningStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screening.ScreeningEnd)
                            </td>
                            <td>
                                @if (item.Reserved)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            </td>
                            <td>
                                @if (item.Paid)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentType)
                            </td>
                            <td>
                                @if (item.Active)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            </td>

                            <td>
                                <a href="@Url.Action("ReservationDetails", "Profile", new { Id = item.Id })" class="btn btn-primary ml-2">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </section>
}

<div class="wrapper">
    <div class="push"></div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#TableUsers').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}  