@model MovieTickets.Models.Movie

@{
    ViewBag.Title = "Details";
}

<section class="hero text-white py-4 flex-grow-1">

    <div class="container" py-4">

        <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Details</h1>
        <hr class="style1 mb-5">

        <div class="container p-0 my-4">
            <div class="row p-3 py-5 rounded-4">

                @if (Model.ImagePoster.IsEmpty())
                {
                    <div class="col-sm p-2 text-center mb-3">
                        <img src="~/Images/no_image_found.png" class="rounded-4 card-img-bottom">
                    </div>
                }
                else
                {
                    <div class="col-sm p-2 text-center mb-3">
                        <img src="data:image;base64,@Model.ImagePoster" class="rounded-4 card-img-bottom">
                    </div>
                }

                <div class="ms-5 col-sm p-1">
                    <div class="information">

                        <h1 class="display-6 text-uppercase mb-4" style="font-family: 'Helvetica Bold';"> @Model.Title</h1>

                        <p>Genre: @Model.Genre.Name.</p>


                        @if (!Model.Director.IsEmpty())
                        {
                            <p>Director: @Model.Director.</p>}

                        @if (!Model.Cast.IsEmpty())
                        {
                            <p>Cast: @Model.Cast</p>}

                        <p>Duration: @Model.DurationMin Minutes.</p>

                        @if (!Model.Description.IsEmpty())
                        {
                            <p>Storyline:</p>
                            <p class="mb-3">@Model.Description</p>}

                    </div>

                </div>

                @*DO NOT TOUCH*@
                <div class="ms-5 col-sm p-1">
                    <button type="button" hidden class="btn-lg btn-primary align-self-end"> <i class="fa-solid fa-ticket"></i></button>
                </div>


                <div class="col-md-offset-2 mt-5 col-md-10">
                    <a href="@Url.Action("SelectDateTime", "Movies", new { id = Model.Id })" class="btn btn-lg btn-primary"><i class="fa-solid fa-ticket"></i> Buy Ticket</a>
                </div>


            </div>

        </div>

    </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
