@model MovieTickets.Models.Auditorium

@{
    ViewBag.Title = "Auditorium Details";
}

<section class="hero text-white py-4 flex-grow-1">

    <div class="container" py-4">

        <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Details</h1>
        <hr class="style1 mb-5">

        <div class="container p-0 my-4">
            <div class="row p-3 py-5 rounded-4">    

                <div class="ms-5 col-sm p-1">
                    <div class="information">

                        <h1 class="display-6 text-uppercase mb-4" style="font-family: 'Helvetica Bold';"> @Model.Name</h1>

                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <p><b>Auditorium Name:</b> @Model.Name</p>
                                <p><b>Rows:</b> @Model.Rows</p>
                                <p><b>Seats Per Row:</b> @Model.SeatsPerRows</p>
                                <p><b>Total Seats:</b> @((Model.Rows * Model.SeatsPerRows).ToString())</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
