@model List<MovieTickets.ViewModels.UserRolesFormViewModel>

@{
    ViewBag.Title = "Manage User Roles";
    var userId = ViewBag.userId;
}

<section class="hero text-white py-4 flex-grow-1">
    <div class="container py-4">
        <div class="row">
            <h2 class="display-4 mb-5">@ViewBag.Title</h2>

            <div class="col-lg-6 mb-4">
                @using (Html.BeginForm("ManageUserRoles", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h4>Select roles.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    foreach (var item in Model)
                    {
                        <div class="form-group mt-4">
                            <label class="switch">
                                @Html.HiddenFor(model => item.RoleId)
                                @Html.HiddenFor(model => item.RoleName)
                                @Html.CheckBoxFor(m => item.IsSelected)
                                <span class="slider round" />
                                <span class="label">@item.RoleName</span>
                            </label>
                        </div>
                    }

                    @Html.HiddenFor(model => userId)
                    <button type="submit" class="btn btn-primary btn-lg w-100 mt-5"><i class="fa-solid fa-floppy-disk"></i> Update</button>
                }
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
