@using Microsoft.AspNet.Identity
@using MovieTickets.Models;

@if (Request.IsAuthenticated)
{
    if (User.IsInRole(RoleName.AdminRole))
    {
        <ul class="navbar-nav col-md-1 text-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-menu-sm-right" href="#" id="dropdown04" aria-labelledby="dropdown04" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-sliders"></i> Admin</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="@Url.Action("Movies", "Admin")"><i class="fa-solid fa-film"></i> Manage Movies</a>
                    <a class="dropdown-item" href="@Url.Action("Screenings", "Admin")"><i class="fas fa-video"></i> Manage Screenings</a>
                    <a class="dropdown-item" href="@Url.Action("Auditoriums", "Admin")"><i class="fa-solid fa-landmark"></i> Manage Auditoriums</a>
                    <a class="dropdown-item" href="@Url.Action("Reservations", "Admin")"><i class="fa-solid fa-ticket"></i> Manage Reservations</a>

                    <a class="dropdown-item" href="@Url.Action("Users", "Admin")"><i class="fa-solid fa-users"></i> Manage Users</a>
                </div>
            </li>
        </ul>
    }
}
