@model MovieTickets.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Profile";
}

<section class="hero text-white py-4 flex-grow-1">
    <div class="container py-4">
        <div class="row">
            <h2 display-4 mb-5>@ViewBag.Title</h2>
            <div class="col-lg-6">

                <p class="text-success">@ViewBag.StatusMessage</p>
                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>Password:</dt>
                        <dd>
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword", new object { }, new { @class = "btn btn-primary mt-2" })
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword", new object { }, new { @class = "btn btn-primary mt-2" })
                            }
                        </dd>
                        <dt class="mt-5">External Logins:</dt>
                        <dd>
                            @Model.Logins.Count&nbsp;&nbsp;
                            @Html.ActionLink("Manage", "ManageLogins", new object { }, new { @class = "btn btn-primary m-lg-2 ml-2" })
                        </dd>
                        @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                        *@
                        <dt class="mt-5">Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber", new object { }, new { @class = "btn btn-primary m-lg-2 ml-2" })&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                }
                            }
                            else
                            {
                                <text>&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber", new object { }, new { @class = "btn btn-primary m-lg-2 ml-2" })</text>

                            }
                        </dd>
                        @*<dt class="mt-5">Two-Factor Authentication:</dt>
                        <dd>
                            @if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled&nbsp;&nbsp;
                                    <input type="submit" value="Disable" class="btn btn-danger m-lg-2 ml-2" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled&nbsp;&nbsp;
                                    <input type="submit" value="Enable" class="btn btn-primary m-lg-2 ml-2" />
                                    </text>
                                }
                            }
                        </dd>*@
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
